<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sé Turismo</title>
    <link rel="stylesheet" href="Style.css">
    <link rel="icon" href="favicon.png">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;1,900&display=swap"
        rel="stylesheet">

</head>

<body>
    <header>
        <div class="interior">
            <a href="index.html" class="logo"><img src="favicon.png" alt="Logo"></a>
            <nav class="navegacion">
                <ul>
                    <li><a href="index.html" target="blank">Inicio</a></li>
                    <li><a href="nosotros.html" target="blank">Acerca de</a></li>


                    <li class="submenu"> <a href="" target="blank">servicios</a>
                        <ul class="hijos">

                            <li><a href="">Conoce el interior</a>

                                <ul class="hijosinternos">
                                    <li><a href="alemania.html">Alemania</a></li>
                                    <li><a href="australia.html">Australia</a></li>
                                    <li><a href="japon.html">Japón</a></li>
                                    <li><a href="london.html">Reino Unido</a></li>
                                </ul>

                            </li>


                            <li><a href="">Conoce el exterior</a></li>
                            <li><a href="">Islas</a></li>
                            <li><a href="">Cruceros</a></li>
                            <li><a href="">Pueblos y mas</a></li>
                        </ul>
                    </li>
                    <li><a href="" target="blank">Contacto</a></li>
                    <li><a href="" target="blank">Login</a></li>
                </ul>
            </nav>
        </div>>

        <div class="textos">
            <h1 class="titulo">Sé Turismo, sé tú mismo.</h1>
            <h3 class="subtitulo">Mide la vida por kilometros y no por años</h3>
            <a href="https://twitter.com/luisfdParra1" target="_blank" class="boton">Suscribete</a>
        </div>
        <div class="sesgoabajo"></div>

    </header>
    <main>

        <section class="acerca-de">
            <div class="contenedor">
                <h2 class="sobre-nosotros">Agencia de Viajes en Itagüi</h2>
                <h3 class="slogan">Viajeros por el Mundo</h3>
                <p class="parrafo">Con más de 25 años al servicio., la satisfacción de nuestros viajeros es el mayor
                    motivo para seguir entregando todo el esfuerzo logístico y
                    humano que hasta hoy nos caracteriza, llevando pasajeros a cualquier lugar del mundo, centrándose en
                    Peregrinaciones, tiquetería Nacional e Internacional,
                    Planes para Quinceañeras, Excursiones para Grado 11, Madres, Planes terrestres y mucho más.


                </p>
                <br><br>
                <p class="parrafo">Somos tu aliado integral, estamos contigo antes, durante y después de tu
                    viaje…Queremos ayudarte a tener una experiencia sencillamente maravillosa.
                </p>
                <a href="lugares.html" target="_blank" class="boton">Ver viajes</a>

            </div>
        </section>
        <section class="galeria">
            <div class="sesgoarriba"></div>

            <div class="imagenes">
                <img src="viaje11.jpg" alt="">
            </div>


            <div class="imagenes">
                <img src="viaje22.jpg" alt="">
            </div>

            <div class="imagenes">
                <img src="viaje33.jpg" alt="">
            </div>

            <div class="imagenes">
                <img src="viaje44.jpg" alt="">
            </div>

            <div class="imagenes">
                <img src="viaje55.jpg" alt="">
            </div>

            <div class="sesgoabajo"></div>
        </section>
        <br><br>
        <br><br>



        <h2 class="viaje1">Toronto</h2>

        <div class="imgRH1">
            <img decoding="async" src="viaje1.jpg" width="377" height="273" />

            <section class="prf1">
                <p class="parrafo1">Es la ciudad más grande de Canadá y la capital financiera de este país, aquí podrás
                    acceder a <b>educación de alta calidad y asequible</b>, esta es una ciudad con uno de los mejores
                    sistemas
                    de educación superior y un sinfín de oportunidades para trabajar, por lo que <b>muchos de los
                        estudiantes se convierten en ciudadanos</b> canadienses que generan grandes aportes al país,
                    así que si quieres <b>estudiar inglés o francés</b> en el extranjero esta es una de las mejores
                    opciones para ti.

                    <br><br>
                    Toronto tiene todo lo que sueñas y más, cuenta con una gran infraestructura moderna,
                    transporte rápido ambiente estudiantil y multicultural y actividades de entretenimiento.
                </p>


                <a href="https://github.com/Luisfdparra/Se-Turismo.git" target="_blank" class="boton1">Ver mas</a>
            </section>
        </div>

        <br><br>

        <h2 class="viaje2">Sydney</h2>

        <div class="imgRH2">
            <img src="viaje2.jpg" width="377" height="273" />

            <section class="prf2">
                <p class="parrafo2">Emigrar a Sidney es una de las mejores decisiones que puedes tomar, aquí encontrarás
                    un
                    mundo lleno de
                    comodidades, si quieres <b>estudiar inglés en Australia</b> con tu visa de estudiante también tienes
                    <b>la posibilidad de trabajar media jornada</b>, lo que son aproximadamente 20 horas a la semana y
                    lo
                    mejor con una muy buena remuneración, lo cual es maravilloso si quieres vivir nuevas experiencias a
                    la
                    vez que mejoras tu calidad de vida, Sidney se caracteriza por ser una ciudad tranquila y muy segura.
                </p>
                <a href="https://educationag.com/estudiar-en-australia/#sidney" target="_blank" class="boton">Ver
                    mas</a>
            </section>
        </div>



        <h2 class="viaje3">París</h2>

        <div class="imgRH3">
            <img src="viaje3.jpg" width="377" height="273" />

            <section class="prf3">
                <p class="parrafo3"> La capital de Francia es un gran destino para las personas que tienen como proyecto
                    de
                    vida migrar a otro país y <b>aprender francés,</b>
                    aquí encontrarás excelentes <b>oportunidades laborales</b> y si eres estudiante también puedes hacer
                    tus
                    prácticas laborales en diferentes
                    y variados sectores, la jornada laboral es de un máximo de 35 horas semanales, y los salarios son
                    altos,
                    este es un lugar donde podrás <b>
                        desarrollar y mostrar todo tu potencial</b>, así como tener un estilo de vida activo, dado que
                    Paris
                    es conocida por la <b>moda, gastronomía,
                        arte, cultura y entretenimiento.</b>
                </p>
                <a href="https://educationag.com/estudiar-en-francia/#paris" target="_blank" class="boton">Ver
                    mas</a>
            </section>
        </div>

        <!--cuadro de comentarios-->
        <section id="app">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <div class="comment">
                            <p v-for="items in item" v-text="items"></p>
                        </div>
                        <!--End Comment-->
                    </div>
                    <!--End col -->
                </div><!-- End row -->
                <div class="row">
                    <div class="col-6">
                        <textarea type="text" class="input" placeholder="Escribe un comentario" v-model="newItem"
                            @keyup.enter="addItem()"></textarea>
                        <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Comentar
                        </button>
                    </div><!-- End col -->
                </div>
                <!--End Row -->
            </div>
            <!--End Container -->
        </section><!-- end App -->
        <!--FIN cuadro de comentarios-->

        <section class="mienbros">
            <div class="contenedor">
                <h2 class="sobre-nosotros" href="nosotros.html" target>Nuestro equipo</h2>
                <h3 class="slogan">Conoce a nuestro equipo</h3>
                <div class="cards">
                    <div class="card">
                        <img src="Miembro1.jpeg" alt="">
                        <h4>Luis Parra</h4>

                    </div>
                    <div class="card">
                        <img src="Miembro2.jpeg" alt="">
                        <h4>Fernando Rodriguez</h4>

                    </div>
                    <div class="card">
                        <img src="Miembro3.jpeg" alt="">
                        <h4>Andres Guzman</h4>

                    </div>

                </div>


            </div>

        </section>
        <section class="fondo">
            <div class="contenedor">
                <h2 class="titulo-patrocinadores">Nuestros clientes</h2>
                <h3 class="subtitulo-patrocinadores">conoce algunos de nuestros clientes</h3>
                <div class="clientes">
                    <div class="cliente"><img src="cliente1.jpeg" alt=""></div>

                    <div class="cliente"><img src="cliente2.jpeg" alt=""></div>

                    <div class="cliente"><img src="cliente3.jpeg" alt=""></div>
                </div>
            </div>
        </section>
    </main>

    <footer>

        <div class="contenedor">
            <h2 class="titulo-footer">Contactanos</h2>
            <div class="footer">
                <form action="https://testapi.omarcardona.com" method="post">
                    <input type="text" name="name" id="name" placeholder="Nombre">
                    <input type="email" name="email" id="email" placeholder="Email">
                    <textarea name="ingreseelmensaje" id="ingreseelmensaje" cols="30" rows="10"
                        placeholder="Ingrese su mensaje..."></textarea>
                    <input type="submit" value="Enviar">
                </form>
            </div>
        </div>
        <h4 class="derechosdeautor">Copy right. Derechos de autor reservado</h4>
    </footer>
</body>

</html>