
/*INICIO BARRA DE NAVEGACION---------------------------------*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Open Sans", sans-serif;
}
body{
	background: white;
}

header{
    width: 100%;
    height:650px;
    background-image:url(1background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow:hidden;
    color: #fff;
    text-align: center;
}

.headerjapon{
    width: 100%;
    height:650px;
    background-image:url(2background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow:hidden;
    color: #F09700!important;;
    text-align: center;
}

.headerlondon{
    width: 100%;
    height:650px;
    background-image:url(3background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow:hidden;
    color: #F09700!important;;
    text-align: center;
}

.headeralemania{
    width: 100%;
    height:650px;
    background-image:url(4background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow:hidden;
    color: #F09700!important;;
    text-align: center;
}

.headeraustralia{
    width: 100%;
    height:650px;
    background-image:url(5background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow:hidden;
    color: #F09700!important;;
    text-align: center;
}

.headernosotros{
    width: 100%;
    height:650px;
    background-color: #eee;
    background-image: url(6background.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow:hidden;
    color: #F09700!important;;
    text-align: center;
}



.interior{
	max-width: 100%;
	padding: 0 10px;
	margin: auto;
    background-color: #0b132b;
    width: 100%;
	height: 90px;
}
.logo{
	float: left;
	padding: 5px 20px 0;
}
.logo img{
	height: 80px;
}
.logo img:hover{
	transform: scale(1.1);
}
.navegacion{
	float: right;
	display: flex;
	align-items: center;
	min-height: 90px;
	z-index: 1000;
}
.navegacion ul{
	list-style: none;
	padding: 0 10px;
}
.navegacion ul li{
	display: inline-block;
	position: relative;
	transition: .3s linear;
	z-index: 1000;
}
.navegacion ul li:hover{
	transform: scale(1.1);
}
.navegacion ul li a{
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	padding: 12px 20px;
	transition: .3s linear;
}
.navegacion ul li a:hover{
	color: #00c9bd;
	transform: scale(1.1);
}
.navegacion ul li:hover .hijos{
	display: block;
}
.navegacion .submenu .hijos{
	display: none;
	background: #0b132b;
	position: absolute;
	width: 200%;
    margin-top: 10px;
}

.navegacion .submenu .hijos li{
	display: block;
	overflow: hidden;
	border-bottom: none;
}
.navegacion .submenu .hijos li a{
	display: block;
}

/*FIN BARRA DE NAVEGACION----------------------------*/


body{
    font-Family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif!important;
    
}


header .textos{
    margin-top: 152px;    
}

header .titulo{
    color:#F09700;
    font-family: "Multicolore", Sans-serif;
    font-size: 68px;
    font-weight: 800;
    line-height: 60px;
    margin-bottom: 10px;
}

header .titulo2{
    color:#F09700!important;
    font-family: "Multicolore", Sans-serif;
    font-size: 48px;
    font-weight: 800;
    line-height: 62px;
    margin-bottom: 10px;
}

header .subtitulo{
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 32px;
}
.boton{
    display: inline-block;
    padding: 6px;
    width: 128px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 19px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
}

.boton2{
    display: inline-block;
    padding: 6px;
    width: 128px;
    border: 1px solid #F09700!important;;
    color: #F09700;
    font-size: 19px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
}

.sesgoabajo{
    position:absolute;
    bottom: 0;
    left: 0;
    border-width:0 0 20vh 100vw;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

.sesgoarriba{
    z-index: 10;
    position:absolute;
    top: 0;
    left: 0;
    border-width:20vh 100vw 0  0;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 52px 0;
    }

.sobre-nosotros{
    text-align: center;
    font-size: 46px;  /*tamaño de fuente*/
    margin-bottom: 10px; /* espacio abajo del elemento*/
    font-family: "Montserrat", Sans-serif;
    font-weight: 800;
    line-height: 50px;
    color: #003b82!important; 
}
    


.slogan{
    font-size:30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 24px;
    color: #96BD11!important;
    line-height: 1.4em;
}

.parrafo{
    margin-bottom: 13px;
    font-weight: 300;
    text-align: justify;
    line-height: 24px;
    color: rgb(44,16,16);
}

.acerca-de .boton{
    display: inline-block;
    padding: 6px;
    width: 128px;
    font-weight: 300;
    border: 1px solid rgba(24,16,16,.7);
    color: rgb(44,16,16);
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
    margin-top: 24px;
}

.galeria{
    width: 100%;
    height: 500px;
    overflow: hidden;
    display: flex;
    position:relative;

}

.imagenes{
    width: 20%;
    height: 500px;
   
    position: relative;
}

.imagenes img{
    width: 100%;
    height: 100%;
    object-fit: cover; /*sirve para que las imagenes no se vean distorcionadas*/
}
.encima{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52,73,94,0.815);
}

.encima h2{
    position:relative;
    top: 45%;
    text-align: center;
    color: #fff;   
}

.encima div{
    position: relative;
    display: block;
    top: 46%;
    width: 40px;
    height: 5px;
    background: #fff;
    margin: auto;
}

.cards{
    width:100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    margin: 20px 0;
    width: 30%;
    height: 250px;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 0px 4px 0 rgba(52, 73, 94, 0.815);
}

.cards img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
}

.fondo{
    height: 900px; 
    background-image:url(2background.png);
    overflow:hidden;
    background-attachment: fixed; 
    background-position: center; 
    padding-top:130px;
}
.sesgoabajo-unico {
    z-index: 10;
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 0 35vh 100vw;
    border-style: solid;
    border-color: transparent transparent transparent transparent;
}

.titulo-patrocinadores,
.subtitulo-patrocinadores {
    color: #fff;
    text-align: center;
}

.titulo-patrocinadores {
    font-size: 56px;
    margin-top: 48px;
}

.subtitulo-patrocinadores {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 64px;
}

.clientes {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 64px;
    width: 100%;
    justify-content: space-between;
}

.cliente {
    width: 30%;
}

.cliente img {
    width: 100%;
}

/* Footer */

.titulo-footer{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;

}
.subtitulo-footer {
    font-size: 16px;
    margin-bottom: 64px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    
}

form {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    font-family: 'Poppins', sans-serif;

}

input[type="text"],
input[type="email"] {
    display: inline-block;
    width: 48%;
    padding: 13px;
    border-color: black;
    margin-bottom: 16px;
    border-radius: 15px;

}


textarea {
    display: block;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    max-height: 200px;
    min-height: 200px;
    padding: 13px;
    border-color: black;
    color: black;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 16px;
    border-radius: 15px;
}

input[type="submit"] {
    display: inline-block;
    padding: 13px;
    color: black;
    border-color: black;
    width: 96px;
    border-radius: 15px;
}

.row{
    margin-right: 440px;
    margin-left: 440px;
    
}



.imgRH1{
    text-align: center;

}



.parrafo1{
    width: 90%;
    max-width: 1000px;
    text-align: justify;
    padding: 52px 0;
    overflow: hidden;
    margin: auto;
    margin-bottom: 10px;
}   


.prf1 .boton1{
    display: inline-block;
    padding: 6px;
    width: 128px;
    border: 1px solid rgba(24,16,16,.7);
    color: rgb(44,16,16);
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
    margin-top: -10px;
    margin-bottom: 80px;
    
}

.imgRH2{
    margin-bottom: 30px;
    text-align: center;
}


.parrafo2{
    width: 90%;
    max-width: 1000px;
    text-align: justify;
    padding: 52px 0;
    overflow: hidden;
    margin: auto;
}

.prf2 .boton{
    display: inline-block;
    padding: 6px;
    width: 128px;
    border: 1px solid rgba(24,16,16,.7);
    color: rgb(44,16,16);
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
    margin-top: -10px;
    margin-bottom: 70px;
    
}


.imgRH3{
    margin-bottom: 30px;
    text-align: center;
}


.parrafo3{
    width: 90%;
    max-width: 1000px;
    text-align: justify;
    padding: 52px 0;
    overflow: hidden;
    margin: auto;
}


.prf3 .boton{
    display: inline-block;
    padding: 6px;
    width: 128px;
    border: 1px solid rgba(24,16,16,.7);
    color: rgb(44,16,16);
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
    margin-top: -10px;
    margin-bottom: 70px;
}


.comment {
	display: block;
	transition: all 1s;
}
.commentClicked {
	min-height: 0px;
	border: 1px solid #eee;
	border-radius: 5px;
	padding: 5px 10px
}

.container textarea {
	width: 100%;
	border: none;
	background: #E8E8E8;
	padding: 5px 10px;
	height: 50%;
    margin: auto;
	border-radius: 5px 5px 0px 0px;
	border-bottom: 2px solid #016BA8;
	transition: all 0.5s;
}


button.primaryContained {
	background: #016ba8;
	color: #fff;
	padding: 10px 10px;
	border: none;
	margin-top: 4px;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 4px;
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
	transition: 1s all;
	font-size: 10px;
	border-radius: 5px;
}

button.primaryContained:hover {
	background: #9201A8;
}

.viaje1{
    text-align: center;
    font-family: "Montserrat", Sans-serif;
    font-size: 48px;  /*tamaño de fuente*/
    font-weight: 800;
    line-height: 50px;
    margin-bottom: 10px; /* espacio abajo del elemento*/
    color: #003b82!important; 
}

.viaje2{
    text-align: center;
    font-family: "Montserrat", Sans-serif;
    font-size: 48px;  /*tamaño de fuente*/
    font-weight: 800;
    line-height: 50px;
    margin-bottom: 10px; /* espacio abajo del elemento*/
    color:  #003b82!important; 
}

.viaje3{
    text-align: center;
    font-family: "Montserrat", Sans-serif;
    font-size: 48px;  /*tamaño de fuente*/
    font-weight: 800;
    line-height: 50px;
    margin-bottom: 10px; /* espacio abajo del elemento*/
    color: #003b82!important; 
}

.viaje4{
    text-align: center;
    font-family: "Montserrat", Sans-serif;
    font-size: 48px;  /*tamaño de fuente*/
    font-weight: 800;
    line-height: 50px;
    margin-bottom: 10px; /* espacio abajo del elemento*/
    color: #003b82!important; 
}

.viaje5{
    text-align: center;
    font-family: "Montserrat", Sans-serif;
    font-size: 48px;  /*tamaño de fuente*/
    font-weight: 800;
    line-height: 50px;
    margin-bottom: 10px; /* espacio abajo del elemento*/
    color: #003b82!important; 
}


.derechosdeautor{
    color: #00155C;
    font-family: 'Poppins', sans-serif;
    font-size: 12px ;
    text-align: center;
}

footer{
    background-color:#7df2ea7c
    
}